<ion-header>
  <ion-toolbar>
    <ion-title>WeLL done!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img id="pic" align="center" src="{{companyImage}}" alt="Kein Bild vorhanden.">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col><h4 id="text2">Du hast {{amount}}€ an {{companyName}} gespendet.</h4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h4 id="text">{{companyTy}}</h4></ion-col>
    </ion-row>

    <ion-row style="height: 30%">
      <ion-col class="ion-align-items-center" style="height: 100%; text-align: center">
        <ion-avatar class="avatar" style="height: 200px; width: 200px; background: var(--color_petrol)">
          <img src="assets/images/char1.png" height="100%"/>
        </ion-avatar>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="share()"><ion-icon name="share-social-outline"></ion-icon>Teilen</ion-button>
  </ion-toolbar>
</ion-footer>
