ion-content{
  --background: var(--color_ice);
}

.ionfabbl{
  position: absolute;
  bottom: 3%;
  left: 3%;
}

.ionfabbr{
  position: absolute;
  bottom: 3%;
  right: 3%;
}

ion-content ion-toolbar {
  --background: translucent;
}