<ion-header>
  <ion-toolbar>
    <ion-button slot="start">Zurück</ion-button>
    <ion-title>Details</ion-title>
    <ion-button slot="end">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>{{total_sum}}€</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>


<img id="pic" src="https://cdn.vox-cdn.com/thumbor/WojLgSa3tzWeE10bA5NF_0lfhYY=/0x0:2048x1365/920x613/filters:focal(861x520:1187x846):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/59488337/20786021_1964885550462647_3189575152413374824_o.0.jpg" alt="Kein Bild">

<h1 id="text1">Coffee Shop FantasyLand Super Store</h1>

<h2 id="text2">{{companyInformations.getCompanyDescription()}}</h2>

<ion-content>

    <ion-item-divider>
      <ion-label id="menu_text">
        Menü
      </ion-label>
    </ion-item-divider>

   <ion-list>
  <!-- List of Text Items -->
    <ion-item *ngFor="let iter of all_articles">
      <ion-col>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-col>

      <ion-col>
        <h4>{{iter.getItemName()}}</h4>
      </ion-col>

      <ion-col><h4>{{iter.getItemValue()}}€</h4></ion-col>

      <ion-col align="right">
        <ion-button (click)="addArticles(iter.getItemValue(), iter)">In den Warenkorb legen</ion-button>
      </ion-col>

    </ion-item>

  </ion-list>

</ion-content>


