ion-content{
  background: #AED6F1;
}

ion-header{
  text-align: center;
}

ion-thumbnail {
  width: 100px;
  height: 100px;
}

#text1, #text2 {
  text-align: center;
}

#pic {
  width: auto;
  height: auto;
}

#warenkorb {
  text-align: right;
}

#menu_text{
  font-size: 14pt;
}