<ion-header>
  <ion-toolbar>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
      <br>
    <h2>Angaben gem. § 5 TMG:</h2>
    <h2>Enactus Hamburg e.V.<br>
    Von-Melle-Park 5<br>
    20146 Hamburg<br>
      <br>
    E-Mail: info@unihamburg.enactus.de<br>
      <br>
    Vertretungsberechtigter Vorstand:<br>
    Gesetzlich wird der Verein Enactus Hamburg e.V. von allen Vorstandsmitgliedern gemeinsam vertreten.<br>
    Anna Lidle (1. Vorsitzende),<br>
    Nils Himmelreich (2. Vorsitzender),<br>
    Tim Wagner (Kassenwart)<br></h2>
  </ion-text>
</ion-content>
