<ion-header>
  <ion-toolbar>
    <ion-title>CreateAccount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text>Zuerst benötigen wir deinen Namen und ein Bild von dir, damit dich deine Freunde wiedererkennen können.</ion-text>
  <!-- Default Input -->
  <ion-input placeholder="Name"></ion-input>

  <ion-button style="text-align: center">Bild hochladen</ion-button>
  <ion-col class="ion-padding-top">
    <div>
    </div>
  </ion-col>
  <!-- Checkbox Colors -->
  <ion-checkbox color="primary"></ion-checkbox>
  <ion-text>Ich habe die <a href="http://corndogoncorndog.com/">Datenschutzbestimmungen</a> gelesen und akzeptiere sie.</ion-text>
  <ion-col class="ion-padding-top">
    <div>

    </div>
  </ion-col>


</ion-content>
