 :root
 {
    --main-bg-color:#f5fcfc;
    --box-bg-color: #8ed1cc;
    --ex-color: #a10b2c;
    --ex-dark: #69071c;
    --txt-color: #000;

    --font-family: "Antic"
  
}


select:required:invalid
{
    color: gray;
}

option[value=""][disabled]
{
    display: none;
}

option
{
    color: black;
}


input[type=checkbox]
{
    display:none;
}
     
input[id=item0] + label
{
    background-image: url("../img/bg-hero.jpg");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

    input[id=item0]:checked + label
{
    background: #0080FF;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input[id=item1] + label
{
    background-image: url("../img/bg-form.jpg");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input[id=item1]:checked + label
{
    background: #0080FF;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}
