 :root
 {
    --main-bg-color:#f5fcfc;
    --box-bg-color: #8ed1cc;
    --ex-color: #a10b2c;
    --ex-dark: #;
    --txt-color: #000;

    --font-family: "Antic"
  
}

#why 
{
    background: initial;
    background-color: var(--main-bg-color);
    color: #000;
}

#why .row
{
    padding: 7%;
}

#why p
{
    margin-top: 20px;
    margin-bottom: 0;
}

.highlight-font
{
    font-family: 'Shadows Into Light', serif !important;
    background: none;
    color: #fff;
}

#about p
{
    margin-bottom: 10px;
}

#partner
{
    color: #fff !important;
}

select:required:invalid
{
    color: gray;
}

option[value=""][disabled]
{
    display: none;
}

option
{
    color: black;
}
