 :root
 {
    --main-bg-color:#f5fcfc;
    --box-bg-color: #8ed1cc;
    --ex-color: #a10b2c;
    --ex-dark: #69071c;
    --txt-color: #000;

    --font-family: "Antic"
  
}


select:required:invalid
{
    color: gray;
}

option[value=""][disabled]
{
    display: none;
}

option
{
    color: black;
}


input[type=checkbox]
{
    display:none;
}
     
input[id=item0] + label
{
    background-image: url("../img/bg-hero.jpg");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

    input[id=item0]:checked + label
{
    background: #0080FF;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input[id=item1] + label
{
    background-image: url("../img/bg-form.jpg");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input[id=item1]:checked + label
{
    background: #0080FF;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#hero
{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;     
}
      
@media (min-width: 768px)
{
    #hero h1 
    {
        font-size: 4rem;
        line-height: 4rem;
    }
}
      
@media (min-width: 992px)
{
    #hero
    {
        height: 100vh;
        padding: 0;
    }
    #hero h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    #hero h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}

#hero-container
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 100% !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

#hero-div
{
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
}

#hero-titel
{
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-transform: uppercase !important;
    font-family: var(--font-family);
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(var(--main-bg-color), var(--ex-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
}


#hero-txt
{
    max-width: 20rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 0.5rem !important;
    margin-bottom: 3rem !important;
    max-width: 30rem;
    font-size: 1.25rem;
}

#hero-btn
{
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: var(--font-family);
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    background-color: var(--ex-color);
    color: var(--main-bg-color);
}

      
#hero-btn:hover
{
    background-color: var(--ex-dark);
}
      
#hero-btn:focus
{
    background-color: var(--ex-dark);
    color: var(--main-bg-color);
}
      
#hero-btn:active
{
    background-color: var(--ex-color) !important;
}