h1 {

  color: var(--color_petrol);
  font-size: 12px;
}

h2 {
  color: var(--color_ice);
  font-size: 10px;
}

h3 {
  color: var(--color_petrol);
  font-size: 8px;
}

h4 {
  color: var(--color_ice);
  font-size: 8px;
}
